:root{
    --main-text-align : center ;
}
.div{
    color: red;
    text-align: var(--main-text-align);
    font-size: 30px;
}
*{
    height: 400px;
}
h3{
    color: #000;
    font-size: 20px;
    text-align: center;
}
p{
    color: #777;
    text-align: var(--main-text-align);
}
body{
    background-image: url(css/Hamza2.jpeg);
    overflow: hidden;
}
.Hamza{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 500px;
    text-align: center;
    height: 40px;
}
.Head
{
    color: red;
    margin-bottom: 1px;
    text-align: center;
    height: 40px;
}
.P
{
    font-size: 20px;
    text-align: center;
}